<a href="https://colab.research.google.com/github/natsakh/IAD/blob/main/Pr_1/1_1_Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python
## Quick Refresher on essential data structures, functions, and classes

Python is an interpreted high-level general-purpose programming language.  
Its design philosophy emphasizes code readability with its use of significant indentation.  
Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms,  
including object-oriented and functional programming.

1. Data Structures

In [1]:
# List: ordered, can contain duplicates
fruits = ['apple', 'banana', 'cherry']
fruits.append('date')  # add element

# Dictionary: key â†’ value mapping
scores = {'Alice': 9, 'Bob': 7}
scores['Charlie'] = 8
print(f"Alice's score: {scores['Alice']}")  # access by key

# Tuple: immutable sequence
coords = (10.0, 20.0)

# Set: unordered, unique elements
unique_numbers = {1, 2, 3, 2}  # becomes {1,2,3}
print(f"Unique_numbers: {sorted(unique_numbers)}")

Alice's score: 9
Unique_numbers: [1, 2, 3]

In [2]:
# Create a list of squares from 0 to 9
squares = [x**2 for x in range(10)]
print(squares)  # [0, 1, 4, 9, ..., 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
# Keep only even numbers
even_numbers = [x for x in range(20) if x % 2 == 0]
print(even_numbers)  # [0, 2, 4, ..., 18]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [4]:
# Flatten a 2D list
matrix = [[1, 2], [3, 4], [5, 6]]
flattened = [item for row in matrix for item in row]
print(flattened)  # [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

2. Control Flow & Loops

In [5]:
# Conditional
if scores['Bob'] >= 8:
    print("Bob did great!")
else:
    print("Keep trying, Bob.")

# Looping over a list
for fruit in fruits:
    print(fruit)

# Looping with condition
for name, score in scores.items():
    if score > 8:
        print(name, "is a top performer.")

Keep trying, Bob.
apple
banana
cherry
date
Alice is a top performer.

3. Functions

In [6]:
def square(x):
    """Return x squared."""
    return x * x

print(square(5))  # 25

25

4. Classes

In [7]:
class Student:
    def __init__(self, name, score):
        self.name = name
        self.score = score

    def grade(self):
        # return letter grade based on numeric score
        if self.score >= 90:
            return 'A'
        elif self.score >= 80:
            return 'B'
        elif self.score >= 70:
            return 'C'
        else:
            return 'F'

s = Student('Dana', 85)
print(s.name, s.grade())  # Dana B

Dana B

# Further Resources

[Official Python Tutorial (docs.python.org)](https://docs.python.org/3/tutorial/index.html)